@font-face { 
    font-family: 'tencon';
    src: url('../fonts/Tencons-Regular.eot?bie68a');
    src: url('../fonts/Tencons-Regular.eot?bie68a#iefix') format('embedded-opentype'),
        url('../fonts/Tencons-Regular.ttf?bie68a') format('truetype'),
        url('../fonts/Tencons-Regular.woff?bie68a') format('woff'),
        url('../fonts/Tencons-Regular.svg?bie68a#tencon') format('svg');
    font-weight: normal;
    font-style: normal; }

[class^="tencon-"],
[class*="tencon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tencon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.tencon-add:before { content:"\e900"; }
.tencon-add-box:before { content:"\e901"; }
.tencon-add-box-filled:before { content:"\e902"; }
.tencon-add-circle:before { content:"\e903"; }
.tencon-add-circle-filled:before { content:"\e904"; }
.tencon-align-bottom:before { content:"\e905"; }
.tencon-align-horizontal:before { content:"\e906"; }
.tencon-align-left:before { content:"\e907"; }
.tencon-align-right:before { content:"\e908"; }
.tencon-align-top:before { content:"\e909"; }
.tencon-align-vertical:before { content:"\e90a"; }
.tencon-america:before { content:"\e9b3"; }
.tencon-android:before { content:"\e9b4"; }
.tencon-android2:before { content:"\e9b5"; }
.tencon-angle-double-left:before { content:"\e90b"; }
.tencon-angle-double-right:before { content:"\e90c"; }
.tencon-angle-down:before { content:"\e90d"; }
.tencon-angle-down-circle:before { content:"\e90e"; }
.tencon-angle-down-circle-filled:before { content:"\e90f"; }
.tencon-angle-left:before { content:"\e910"; }
.tencon-angle-left-circle:before { content:"\e911"; }
.tencon-angle-left-circle-filled:before { content:"\e912"; }
.tencon-angle-left-first:before { content:"\e913"; }
.tencon-angle-left-previous:before { content:"\e914"; }
.tencon-angle-right:before { content:"\e915"; }
.tencon-angle-right-circle:before { content:"\e916"; }
.tencon-angle-right-circle-filled:before { content:"\e917"; }
.tencon-angle-right-last:before { content:"\e918"; }
.tencon-angle-right-next:before { content:"\e919"; }
.tencon-angle-up:before { content:"\e91a"; }
.tencon-angle-up-circle:before { content:"\e91b"; }
.tencon-angle-up-circle-filled:before { content:"\e91c"; }
.tencon-apple:before { content:"\e9b6"; }
.tencon-appstore:before { content:"\e9b7"; }
.tencon-arrow-down:before { content:"\e91d"; }
.tencon-arrow-down-circle:before { content:"\e91e"; }
.tencon-arrow-down-circle-filled:before { content:"\e91f"; }
.tencon-arrow-down-left:before { content:"\e920"; }
.tencon-arrow-down-right:before { content:"\e921"; }
.tencon-arrow-left:before { content:"\e922"; }
.tencon-arrow-left-circle:before { content:"\e923"; }
.tencon-arrow-left-circle-filled:before { content:"\e924"; }
.tencon-arrow-right:before { content:"\e925"; }
.tencon-arrow-right-circle:before { content:"\e926"; }
.tencon-arrow-right-circle-filled:before { content:"\e927"; }
.tencon-arrow-up:before { content:"\e928"; }
.tencon-arrow-up-circle:before { content:"\e929"; }
.tencon-arrow-up-circle-filled:before { content:"\e92a"; }
.tencon-arrow-up-left:before { content:"\e92b"; }
.tencon-arrow-up-right:before { content:"\e92c"; }
.tencon-asia:before { content:"\e9b8"; }
.tencon-attachment:before { content:"\e92d"; }
.tencon-block:before { content:"\e92e"; }
.tencon-blogger:before { content:"\e9b9"; }
.tencon-book:before { content:"\e92f"; }
.tencon-bookmark:before { content:"\e9ba"; }
.tencon-bookmark-filled:before { content:"\e9bb"; }
.tencon-bulb:before { content:"\e930"; }
.tencon-button:before { content:"\e9a0"; }
.tencon-cached:before { content:"\e931"; }
.tencon-calendar:before { content:"\e932"; }
.tencon-canvas:before { content:"\e933"; }
.tencon-cart:before { content:"\e9eb"; }
.tencon-chart-bar:before { content:"\e934"; }
.tencon-chart-line:before { content:"\e935"; }
.tencon-chart-pie:before { content:"\e936"; }
.tencon-chat-bubble:before { content:"\e937"; }
.tencon-chat-bubble-circle:before { content:"\e9bc"; }
.tencon-chat-bubble-circle-filled:before { content:"\e9bd"; }
.tencon-chat-bubble-double:before { content:"\e938"; }
.tencon-chat-bubble-filled:before { content:"\e9a1"; }
.tencon-check:before { content:"\e939"; }
.tencon-check-circle:before { content:"\e93a"; }
.tencon-check-circle-filled:before { content:"\e93b"; }
.tencon-check-large:before { content:"\e93c"; }
.tencon-close:before { content:"\e93d"; }
.tencon-close-box:before { content:"\e93e"; }
.tencon-close-box-filled:before { content:"\e93f"; }
.tencon-close-circle:before { content:"\e940"; }
.tencon-close-circle-filled:before { content:"\e941"; }
.tencon-close-sm:before { content:"\e942"; }
.tencon-cloud-download:before { content:"\e943"; }
.tencon-cloud-upload:before { content:"\e944"; }
.tencon-coffee:before { content:"\e945"; }
.tencon-cog:before { content:"\e946"; }
.tencon-compass:before { content:"\e947"; }
.tencon-copy:before { content:"\e948"; }
.tencon-crop:before { content:"\e949"; }
.tencon-cut:before { content:"\e94a"; }
.tencon-daum:before { content:"\e9be"; }
.tencon-desktop:before { content:"\e94b"; }
.tencon-donut:before { content:"\e9a8"; }
.tencon-dotmenu:before { content:"\e9bf"; }
.tencon-dotmenu2:before { content:"\e9c0"; }
.tencon-download:before { content:"\e94c"; }
.tencon-earth:before { content:"\e9c1"; }
.tencon-edit:before { content:"\e94d"; }
.tencon-email:before { content:"\e94e"; }
.tencon-equal:before { content:"\e9e4"; }
.tencon-equal-square:before { content:"\e9e5"; }
.tencon-equal-square-filled:before { content:"\e9e6"; }
.tencon-equal-circle:before { content:"\e9e7"; }
.tencon-equal-circle-filled:before { content:"\e9e8"; }
.tencon-europe:before { content:"\e9c2"; }
.tencon-exclamation-circle:before { content:"\e94f"; }
.tencon-exclamation-circle-filled:before { content:"\e950"; }
.tencon-exclamation-triangle:before { content:"\e951"; }
.tencon-exclamation-triangle-filled:before { content:"\e952"; }
.tencon-export:before { content:"\e9c3"; }
.tencon-external:before { content:"\ea03"; }
.tencon-eye-hide:before { content:"\e9e9"; }
.tencon-eye-view:before { content:"\e9ea"; }
.tencon-facebook:before { content:"\e9c4"; }
.tencon-facebook-circle:before { content:"\e9c5"; }
.tencon-file:before { content:"\e953"; }
.tencon-file-move:before { content:"\e954"; }
.tencon-filter:before { content:"\e955"; }
.tencon-filter-filled:before { content:"\e956"; }
.tencon-floder-open:before { content:"\e957"; }
.tencon-folder:before { content:"\e958"; }
.tencon-folder-add:before { content:"\e959"; }
.tencon-folder-paste:before { content:"\e95a"; }
.tencon-folder-remove:before { content:"\e95b"; }
.tencon-footer:before { content:"\e9a2"; }
.tencon-form:before { content:"\e9a3"; }
.tencon-google:before { content:"\e9c6"; }
.tencon-googleplay:before { content:"\e9c7"; }
.tencon-grab:before { content:"\e9a9"; }
.tencon-grid:before { content:"\e95c"; }
.tencon-header:before { content:"\e9a4"; }
.tencon-heart:before { content:"\e9c8"; }
.tencon-heart-filled:before { content:"\e9c9"; }
.tencon-help-circle:before { content:"\e95d"; }
.tencon-help-circle-filled:before { content:"\e95e"; }
.tencon-history:before { content:"\e95f"; }
.tencon-home:before { content:"\e960"; }
.tencon-icon:before { content:"\e9b0"; }
.tencon-image:before { content:"\e961"; }
.tencon-info-circle:before { content:"\e962"; }
.tencon-info-circle-filled:before { content:"\e963"; }
.tencon-instagram:before { content:"\e9ca"; }
.tencon-kakao:before { content:"\e9e3"; }
.tencon-kakaostory:before { content:"\e9cb"; }
.tencon-kakaotalk:before { content:"\e9cc"; }
.tencon-launch:before { content:"\e964"; }
.tencon-layer:before { content:"\e9b1"; }
.tencon-link:before { content:"\e965"; }
.tencon-list:before { content:"\e966"; }
.tencon-location:before { content:"\e967"; }
.tencon-location-filled:before { content:"\e968"; }
.tencon-lock:before { content:"\e969"; }
.tencon-login:before { content:"\e96a"; }
.tencon-logout:before { content:"\e96b"; }
.tencon-membership:before { content:"\e9fe"; }
.tencon-mobile:before { content:"\e96c"; }
.tencon-mouse:before { content:"\e96d"; }
.tencon-move:before { content:"\e96e"; }
.tencon-mug:before { content:"\e96f"; }
.tencon-naver:before { content:"\e9cd"; }
.tencon-naver-circle:before { content:"\e9ce"; }
.tencon-naverblog:before { content:"\e9cf"; }
.tencon-naverblog-circle:before { content:"\e9d0"; }
.tencon-navigation:before { content:"\e9a5"; }
.tencon-notifications:before { content:"\e970"; }
.tencon-numeric:before { content:"\e9aa"; }
.tencon-paper:before { content:"\e9e2"; }
.tencon-pause-filled:before { content:"\e9d1"; }
.tencon-phone:before { content:"\e971"; }
.tencon-phone-filled:before { content:"\e972"; }
.tencon-phone-circle:before { content:"\e9fc"; }
.tencon-phone-circle-filled:before { content:"\e9fd"; }
.tencon-play:before { content:"\e973"; }
.tencon-play-filled:before { content:"\e9d2"; }
.tencon-point-add:before { content:"\ea04"; }
.tencon-present:before { content:"\e9ab"; }
.tencon-preview:before { content:"\e974"; }
.tencon-print:before { content:"\e975"; }
.tencon-product:before { content:"\e9ac"; }
.tencon-propotion:before { content:"\e976"; }
.tencon-redo:before { content:"\e977"; }
.tencon-refresh:before { content:"\e978"; }
.tencon-remove:before { content:"\e979"; }
.tencon-remove-box:before { content:"\e97a"; }
.tencon-remove-box-filled:before { content:"\e97b"; }
.tencon-remove-circle:before { content:"\e97c"; }
.tencon-remove-circle-filled:before { content:"\e97d"; }
.tencon-replace:before { content:"\e97e"; }
.tencon-replay-filled:before { content:"\e9d3"; }
.tencon-rerun:before { content:"\e9d4"; }
.tencon-rerun-filled:before { content:"\e9d5"; }
.tencon-rss:before { content:"\e97f"; }
.tencon-run-filled:before { content:"\e9d6"; }
.tencon-save:before { content:"\e980"; }
.tencon-search:before { content:"\e981"; }
.tencon-security:before { content:"\e982"; }
.tencon-security-add:before { content:"\e983"; }
.tencon-send:before { content:"\e9d7"; }
.tencon-send-filled:before { content:"\e9d8"; }
.tencon-share:before { content:"\e984"; }
.tencon-sharpen:before { content:"\e985"; }
.tencon-shop:before { content:"\e9ad"; }
.tencon-size:before { content:"\e986"; }
.tencon-sms:before { content:"\e9ff"; }
.tencon-sms-filled:before { content:"\ea00"; }
.tencon-sms2:before { content:"\ea01"; }
.tencon-sms2-filled:before { content:"\ea02"; }
.tencon-sort:before { content:"\e987"; }
.tencon-speaker:before { content:"\e988"; }
.tencon-speaker-filled:before { content:"\e989"; }
.tencon-spin:before { content:"\e98a"; }
.tencon-star:before { content:"\e98b"; }
.tencon-star-filled:before { content:"\e98c"; }
.tencon-stop-filled:before { content:"\e9d9"; }
.tencon-student:before { content:"\e9b2"; }
.tencon-tab:before { content:"\e9ae"; }
.tencon-table:before { content:"\e9a6"; }
.tencon-tablet:before { content:"\e98d"; }
.tencon-tag:before { content:"\e98e"; }
.tencon-template:before { content:"\e9af"; }
.tencon-text-align-center:before { content:"\e98f"; }
.tencon-text-align-left:before { content:"\e990"; }
.tencon-text-align-right:before { content:"\e991"; }
.tencon-trash:before { content:"\e992"; }
.tencon-triangle-down:before { content:"\e993"; }
.tencon-triangle-down-sm:before { content:"\e994"; }
.tencon-triangle-left:before { content:"\e9da"; }
.tencon-triangle-left-sm:before { content:"\e9db"; }
.tencon-triangle-right:before { content:"\e9dc"; }
.tencon-triangle-right-sm:before { content:"\e9dd"; }
.tencon-triangle-up:before { content:"\e995"; }
.tencon-triangle-up-sm:before { content:"\e996"; }
.tencon-twitter:before { content:"\e9de"; }
.tencon-type:before { content:"\e997"; }
.tencon-type-filled:before { content:"\e998"; }
.tencon-undo:before { content:"\e999"; }
.tencon-upload:before { content:"\e99a"; }
.tencon-user:before { content:"\e99b"; }
.tencon-user-filled:before { content:"\e99c"; }
.tencon-watch:before { content:"\e99d"; }
.tencon-window:before { content:"\e9a7"; }
.tencon-youtube:before { content:"\e9df"; }
.tencon-youtube-circle:before { content:"\e9e0"; }
.tencon-zoom-in:before { content:"\e99e"; }
.tencon-zoom-out:before { content:"\e99f"; }
